<article class="panel panel-info">
	<p class="panel-heading input-group">
		<input type="text" ng-model="query" class="form-control" />
		<span class="input-group-addon">
			<button class="btn btn-primary btn-sm" ng-click="searchBooks()">Search</button>
		</span>
	</p>
	<div class="paenl-body">
		<table class="table table-striped">
			<tr ng-repeat="book in Books">
				<td>
					<img ng-src="{{ book.Image }}" width="150" />
				</td>
				<td>
					<blockquote>
						<h3>{{ book.Title }}</h3>
						<span>
							<a href="#/book/{{ book.ID }}">more...</a>
						</span>
					</blockquote>
				</td>
			</tr>
		</table>
	</div>
</article>