<article class="panel panel-success">
	<p class="panel-heading">
		<h4>{{ Book.Title }} &mdash; {{ Book.SubTitle }}</h4>
		<small>[ {{ Book.Author }} ]</small>
	</p>
	<div class="panel-body">
		<div class="col-sm-4">
 			<img ng-src="{{ Book.Image }}" />
		</div>
		<div class="col-md-6">
			<h4>Details...</h4>
			<strong>
				<p>Total Pages: {{ Book.Page }}</p>
				<p>Publisher: {{ Book.Publisher }}</p>
			</strong>
			<p>Description: {{ Book.Description }}</p>

		</div>
	</div>
	<footer class="panel-footer">
		<a href="{{ Book.Download }}">Get your copy...</a>
	</footer>
</article>