<div class="well-lg">
    <h3>{{cart.customerName}}</h3>
    <div ng-transclude class="well-sm">

    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in cart.items">
            <span class="badge">{{item.qty * item.price | currency: '&#8377'}}</span>
            <h4>{{item.name}}&mdash;</h4>
            <div>{{item.price}}*{{item.qty}}</div>
        </li>
    </ul>

</div>