<article class="panel panel-primary">
	<p class="panel-heading">Select link to continue...</p>
	<ul class="nav">
		<li><a href="#/books">Books</a></li>
		<li><a href="#/products">Products</a></li>
		<li><a href="#/customers">Customers</a></li>
	</ul>
</article>
