<div ng-controller="tabCtrl as tbc" ng-show="Product">
    <ul class="nav nav-tabs" ng-init="tbc.setTab(1)">
        <li ng-class="{active: tbc.isTab(1)}"><a href="" ng-click="tbc.setTab(1)">Details</a></li>
        <li ng-class="{active: tbc.isTab(2)}"><a href="" ng-click="tbc.setTab(2)">Reviews</a></li>
        <li ng-class="{active: tbc.isTab(3)}"><a href="" ng-click="tbc.setTab(3)">New Reviews</a></li>
    </ul>
    <div ng-show="tbc.isTab(1)">
        <h3>Details...</h3>
        <h4>{{ Product.Name }}</h4>
        <img ng-src="app/images/{{Product.Image}}" class="thumbnail" height="200"/>

        <blockquote>
            <span>{{Product.Description}}</span>

            <p>
                <strong>{{Product.Price | currency:'Rs.'}}</strong>
            </p>
        </blockquote>

    </div>
    <div ng-show="tbc.isTab(2)">
        <h3>Reviews...</h3>
        <!--<div val-list="Product.Reviews" listField="Comments"></div>-->
        <ul>
            <li class="list-group-item" ng-repeat="r in Product.Reviews">
                <span class="badge">{{ r.Rating }}</span>

                <p>
                    <strong>{{ r.Comments }} &mdash; {{ r.By }}</strong>
                </p>
            </li>
        </ul>
    </div>
    <div ng-show="tbc.isTab(3)" ng-controller="reviewCtrl">
        <h3>New Review...</h3>
        <form name="reviewForm" novalidate ng-submit="saveReview()">
            <div class="form-group">
                <select name="" id="" class="form-control" required ng-model="review.Rating" ng-options="rating for rating in [5,4,3,2,1]">
                    <option value="">Select Rating..</option>
                </select>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" required ng-model="review.By" placeholder="Eamil Id"/>
            </div>
            <div class="form-group">
                <textarea name="tc" placeholder="comments" ng-maxlength="250" ng-minlength="10" cols="30" rows="10" class="form-control" required ng-model="review.Comments"></textarea>
                <div ng-show="reviewForm.tc.$invalid" ng-messages="reviewForm.tc.$error">
                    <div ng-message="required">Your comments must be provided.</div>
                    <div ng-message="minlength">Comments should be min 10 Chrs</div>
                    <div ng-message="maxlength">Comments limitted to max 250 chars</div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="reviewForm.$invalid">Save</button>
        </form>
        &nbsp;
        <div class="well">
            Data valid: {{reviewForm.$valid}}
        </div>
    </div>
</div>