form .ng-dirty.ng-valid {
    background-color: lightgreen;
    border-bottom: 2px outset lawngreen;
}
form .ng-dirty.ng-invalid {
    background-color: lightpink;
    border-bottom: 2px outset deeppink;
}
form .ng-pristine {
    background-color: lightblue;
    border-bottom: 2px outset blueviolet;
}
form .ng-dirty.ng-invalid-email{
    background-color: lightyellow;
    border-bottom: 2px outset orange;
}
