<!DOCTYPE html>
<html>
<head>
    <title>AngularJS -Directive Demo</title>

    <!-- Lib files -->
    <script type="text/javascript" src="app/lib/angular.js"></script>
</head>

<body ng-app>
    <article>
        <span>
            Enter name: <input type="text" ng-init="user_name='Satish Chandra'" ng-model="user_name"/>
        </span>

        <h3>Hi {{ user_name }}, Welcome to AngularJS!</h3>
    </article>
    <article ng-init="emps=[
    {id: 1234, name: 'James', dept: 'IT', basic: 45999},
    {id: 5678, name: 'Smith', dept: 'HR', basic: 19004},
    {id: 8974, name: 'Jins', dept: 'IT', basic: 54178},
    {id: 8412, name: 'Keith', dept: 'Facility', basic: 54781}
    ]">
        <blockquote>
            <p>Looking for: <input type="text" ng-model="query.name">&mdash;</p>
            <p>Arrange By:
                <select ng-model="arrangeBy">
                    <option value="">-- Select --</option>
                    <option value="name"  selected="selected">- Name</option>
                    <option value="basic">- Low to High</option>
                    <option value="-basic">- Hight to Low</option>
                </select>
            </p>
        </blockquote>
        <ol>
            <li ng-repeat="emp in emps | filter: query | orderBy: arrangeBy">
                <p><strong>Name: </strong>{{emp.name}}</p>
                <p><strong>ID: </strong>{{emp.id}}</p>
                <p><strong>Department: </strong>{{emp.dept}}</p>
                <p><strong>Basic: </strong>{{emp.basic | currency:"&#8377"}}</p>
            </li>
        </ol>
    </article>
</body>
</html>