<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="app/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/styles/site.css"/>
    <script type="text/javascript" src="app/lib/angular.js"></script>
    <script type="text/javascript" src="app/js/angular-messages.js"></script>
    <script type="text/javascript" src="app/js/valtechServices.js"></script>
    <script type="text/javascript" src="app/js/mainMod.js"></script>
    <script type="text/javascript" src="app/js/mainMod.data.js"></script>

    <title>AngularJS - Web App</title>
</head>
<body class="container" ng-app="mainMod">
    <cart-info>
        <strong>This is transcluded content....</strong>
    </cart-info>
    <div class="panel panel-default">
        <header class="panel-heading">
            <h3>Valtech Catalog...</h3>
        </header>
        <section class="panel-body" ng-controller="productsCtrl">
           <!-- <div val-list="Products" listField = "Name">

            </div>-->
            <article  class="panel panel-danger panel-body col-sm-3"
                     style="height:500px; overflow: auto;">

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="p in Products | highReviewed">
                        <img ng-src="app/images/{{ p.Image }}" alt="Product Image" width="100"/>
                        <p>
                            <strong>{{ p.Name }}</strong>
                            <p style="color: red">{{p.DaysLeft | tagDays}}</p>
                            <button class="btn btn-default" ng-click="selectProduct(p)">Select</button>
                        </p>
                    </li>
                </ul>
            </article>
            <article class="panel panel-primary panel-body col-md-6" style="min-height:500px;" ng-include="'app/templates/product-details.html'"></article>
        </section>
        <footer class="panel-footer">
            <strong>Copyright &copy; XYZ Ltd. All rights reserved 2014-15.</strong>
        </footer>
    </div>
</body>
</html>